# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
ENV/
env/

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# =========================
# Python Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Misc
# =========================
.cache/
